<form action="/auth/signup" id="signup-form" method="post">
  <h1>Sign Up</h1>
  <div class="">
    <div class="">
      <label for="email">Email</label>
      <input type="email" name="email" id="" />
    </div>
    <div class="">
      <label for="username">Username</label>
      <input type="text" name="username" id="" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="" />
    </div>
    <div class="">
      <button type="submit" class="button submit-button">Sign Up</button>
    </div>
    <div class="">
      <p>Already have an account? <a href="/auth/login">Login</a></p>
    </div>
    <div class="message">
      <p><%= message %></p>
    </div>
  </div>
</form>
