:root {
  --secondary: #ebe7ff;
  --shadow: #e7f1ff;
  --text-heading: #160749;
  --text-normal: #48199b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f4ff;
  color: var(--text-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

label {
  display: block;
  margin-right: 1rem;
}
input {
  line-height: 1.2rem;
  font-size: 1rem;
  margin: 4px auto;
  padding: 2px 4px;
  border: none;
  outline: 1px solid var(--text-normal);
  border-radius: 4px;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  color: red;
  margin: 1rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
}

.submit-button {
  font-size: 1rem;
  border: var(--text-normal) 1px solid ;
  border-radius: 4px;
  padding: 4px 6px;
}
.submit-button:hover {
  box-shadow: 2px 2px 1px 1px var(--text-normal);
  scale: 1.1;
  transition: all 0.1s ease-in;
}
header {
  margin-top: 1rem;
}

nav {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2rem;
}
#logo {
  width: 2rem;
}
main {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
div#authorCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  margin: 1rem auto;
  width: fit-content;
  height: auto;
  color: var(--text-heading);
  font-size: 1.4rem;
  padding: 0.8rem 0.4rem;
  border-radius: 8px;
}

span {
  margin-right: 4px;
}

input[type="text"]#display-authors {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-normal);
  font-size: 1.2rem;
}

.books-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 80%;
}

.book-card {
  background-color: var(--secondary);
  margin: 2rem auto;
  width: 320px;
  padding: 14px 20px;
  border-radius: 12px;
}

.book-card:hover {
  box-shadow: 4px 4px 8px 5px var(--shadow);
}

.book-card-single {
  display: flex;
  background-color: var(--secondary);
  margin: 2rem auto;
  width: 80%;
  padding: 14px 20px;
  border-radius: 8px;
  justify-content: center;
  column-gap: calc(10%);
  flex-wrap: wrap;
}
.book-details {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-options {
  display: flex;
  justify-content: center;
}

#login-form,
#signup-form {
  background-color: var(--secondary);
  padding: 20px;
  max-width: 80vw;
  margin: 0 auto;
  border-radius: 8px;
}
#login-form > div,
#signup-form > div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error-message {
  color: red;
  font-size: 1.2em;
  font-weight: 700;
}

footer {
  margin-top: 24px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
    margin: 0.4rem;
    padding: 0.8rem;
  }
}
