<div>
  <h2>Add Author</h2>
    <% if (err != null) { %>
      <p class="error"> <%= err %> </p>
    <% } %>
  
  <form action="/authors" method="POST">
    <label for="authorName">Author's Name</label>
    <input type="text" name="authorName" placeholder="<%= authorName %>" />
    <button type="submit">Create</button>
    <a href="/authors">Cancel</a>
  </form>
</div>

<style>
  h2 {
    margin-bottom: 1rem;
  }

  input {
     height: 1.4rem;
  }

  .error {
    color: red;
  }
</style>


